body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.ebook-container {
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    border: 1px solid #ccc;
    overflow: hidden;
    position: relative;
}

.ebook-page {
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
     
    padding: 20px;

    font-size: 20px;

   

    background-color: #ccc;

}

button {
    margin-top: 10px;
}